.about {
  align-items: center;
  background: $green;
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  //   0 6px 20px 0 rgba(141, 86, 86, 0.19);
}

#title__about {
  color: $lightGreen;
}

.about__wrapper {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  margin: 0 20px;
  flex-direction: column;

  p {
    margin: 40px 20px 0 20px;

    @include for-tablet-portrait-up {
      margin: 20px;
    }
  }

  @include for-tablet-portrait-up {
    flex-direction: row;
    background-color: $lightGreen;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(141, 86, 86, 0.19);
    max-width: 755px;
  }
}

.picture {
  // align-self: center;
  height: 200px;
  width: 200px;

  @include for-phone-only {
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(141, 86, 86, 0.19);
  }

  @include for-tablet-portrait-up {
    border-radius: 5px 0 0 5px;
  }
}
