.about {
  // min-height: 50vh;
  // align-items: center;
  background: $dark;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
  padding-bottom: 25px;
  border-bottom: 1px solid $grey;

  @include for-tablet-portrait-up {
    padding-bottom: 45px;
  }
}

.about__wrapper {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left: 50px;

  p {
    font-size: 18px;
    line-height: 1.4;
    text-align: justify;
  }

  @include for-tablet-portrait-up {
    // margin: 0 20px;
    flex-direction: row;
    background-color: white;
    // border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //   0 6px 20px 0 rgba(141, 86, 86, 0.19);
    max-width: 755px;

    p {
      padding-left: 20px;
    }
  }
}

.picture {
  align-self: center;
  height: 250px;
  width: 250px;

  @include for-phone-only {
    margin-bottom: 20px;
    align-self: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(141, 86, 86, 0.19);
  }

  @include for-tablet-portrait-up {
    border-radius: 0px;
    // margin: 20px 0 20px 20px;
  }
}
