.about {
  // min-height: 50vh;
  // align-items: center;
  background: $dark;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
  padding-bottom: 25px;
  border-bottom: 1px solid $grey;

  @include for-tablet-portrait-up {
    padding-bottom: 45px;
  }
}

.about__wrapper {
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  margin: 0 15px;

  @include for-desktop-up {
    width: 1200px;
    align-self: center;
  }

  p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 100px;
    // text-align: justify;
  }

  @include for-tablet-portrait-up {
    // margin: 0 20px;
    margin: 0 50px;
    // flex-direction: row;
    // background-color: white;
    // border-radius: 5px;
    // border: 1px solid rgba(0, 0, 0, 0.2);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    //   0 6px 20px 0 rgba(141, 86, 86, 0.19);
    // max-width: 755px;

    p {
      // padding: 0 50px;
    }
  }
}

.picture {
  align-self: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 10px 10px 110px 10px;
  box-shadow: 0 0 0 10px $yellow;
}
