.contact {
  align-items: center;
  background: rgba(227, 227, 227, 0.8);
  display: none;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;

  @include for-desktop-up {
    justify-content: center;
  }

  &.active {
    display: flex;
    animation: openContact 600ms ease;
  }

  h1 {
    opacity: 0;

    &.active {
      animation: showContent 500ms;
      opacity: 100%;
    }
  }

  p {
    opacity: 0;
    line-height: 1.4;
    margin-bottom: 40px;
    max-width: 755px;

    &.active {
      animation: showContent 500ms;
      opacity: 100%;
    }
  }
}

@keyframes openContact {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.form__wrapper {
  opacity: 0;
  display: flex;
  flex-direction: column;
  max-width: 755px;
  width: 100%;
  margin-bottom: 20px;
  transition: all 300ms ease;

  &.active {
    animation: showContent 500ms;
    opacity: 100%;
  }

  input,
  textarea {
    background: $light;
    border-radius: 5px;
    border: none;
    color: $primary-text;
    font-family: $raleway;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    margin: 5px 0;
    padding: 10px;
    resize: none;
  }

  input:focus,
  textarea:focus {
    background: $primary-text;
    color: $light;
    outline: none;
  }
}

.message {
  height: 170px;
}

.btn__submit {
  background: none;
  border-radius: 5px;
  border: 2px solid $primary-text;
  color: $primary-text;
  cursor: pointer;
  font-family: $raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 500;
  margin-top: 18px;
  padding: 10px;
  transition: all 300ms ease;
  width: 100%;
}

.btn__submit:hover {
  background: $primary-text;
  color: $dark;
}

.contact__close {
  opacity: 0;
  align-self: flex-end;
  background: none;
  border: 0;
  cursor: pointer;
  height: 80px;
  position: fixed;
  top: 0;
  width: 40px;
  transition: all 300ms ease;

  @include for-tablet-landscape-up {
    width: 80px;
  }

  &.active {
    animation: showContent 500ms;
    opacity: 100%;
  }
}

.contact__close:hover {
  .contact__close__line {
    background: $yellow;
    &:nth-child(1) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(135deg) scale(0.8);
    }

    &:nth-child(2) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(45deg) scale(0.8);
    }
  }
}

.contact__close__line {
  background: $primary-text;
  height: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
  width: 70%;

  &:nth-child(1) {
    margin-top: 0px;
    transform: translate(-50%, 0) rotate(45deg) scale(1);
  }

  &:nth-child(2) {
    margin-top: 0px;
    transform: translate(-50%, 0) rotate(-45deg) scale(1);
  }
}
