.contact {
  align-items: center;
  background: rgba(227, 227, 227, 0.8);
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 0 20px;
}

.form__wrapper {
  // border: 1px solid green;
  width: 100%;
  max-width: 755px;
  display: flex;
  flex-direction: column;

  input,
  textarea {
    padding: 10px;
    font-family: $raleway;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background: $light;
    font: $primary-text;
    resize: none;
    font-size: 18px;
  }
}

p {
  max-width: 755px;
  margin-bottom: 40px;
  line-height: 1.4;
}

.message {
  height: 170px;
  text-align: left;
  text-orientation: initial;
  // vertical-align: baseline;
}

.btn__submit {
  margin-top: 18px;
  width: 100%;
  background: none;
  // align-self: flex-end;
  border: 2px solid $primary-text;
  border-radius: 5px;
  padding: 10px;
  font-family: $raleway;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: $primary-text;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn__submit:hover {
  background: $primary-text;
  color: $dark;
}

.contact__close {
  // margin: 25px;
  align-self: flex-end;
  background: none;
  border: 0;
  cursor: pointer;
  height: 80px;
  width: 40px;
  position: fixed;
  top: 0;

  @include for-tablet-landscape-up {
    width: 80px;
  }

  .contact__close__line {
    &:nth-child(1) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(45deg);
    }

    &:nth-child(2) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(-45deg);
    }
  }
}

.contact__close:hover {
  .contact__close__line {
    background: $red;
    &:nth-child(1) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(220deg);
    }

    &:nth-child(2) {
      margin-top: 0;
      transform: translate(-50%, 0) rotate(135deg);
    }
  }
}

.contact__close__line {
  background: $primary-text;
  height: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
  width: 70%;

  &:nth-child(1) {
    margin-top: -10px;
  }

  &:nth-child(2) {
    margin-top: 10px;
  }
}
