.footer {
  background: $dark;
  height: 260px;
  font-size: 25px;
  font-weight: 500;
  z-index: 10;
  margin-top: 20px;
  //   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
  //     0 6px 20px 0 rgba(141, 86, 86, 0.19);
}

.footer__wrapper {
  height: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  margin: -13px;
}

.footer__arrow {
  cursor: pointer;
  border: 0;
  margin: -22px;
  background: $light;
  padding: 12px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(141, 86, 86, 0.19);
  // box-shadow: 1.5px 1.5px $red;

  &__img {
    height: 20px;
    transform: rotate(-90deg);
  }
}

.footer__contact {
  background: none;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  color: $primary-text;
  font-family: $raleway;
}

.links {
  
}

.copyright {
  font-weight: 300;
}
