.footer {
  background: $dark;
  height: 260px;
  margin-top: 65px;
}

.footer__wrapper {
  height: 100%;
  // padding-bottom: 40px;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
}

.footer__arrow {
  background: $light;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(141, 86, 86, 0.19);
  cursor: pointer;
  height: 45px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 300ms ease;
  width: 45px;
}

.footer__arrow:hover {
  background: $primary-text;

  .footer__arrow__line {
    background: $dark;
  }
}

.footer__arrow__line {
  background: $primary-text;
  height: 2px;
  position: fixed;
  transition: all 300ms ease;
  width: 40%;

  &:nth-child(1) {
    margin-left: 5.8px;
    margin-top: 5px;
    transform: translate(-50%, 0) rotate(45deg);
  }

  &:nth-child(2) {
    margin-left: -5.8px;
    margin-top: 5px;
    transform: translate(-50%, 0) rotate(-45deg);
  }

  &:nth-child(3) {
    margin-left: 5.8px;
    margin-top: -7.2px;
    transform: translate(-50%, 0) rotate(45deg);
  }

  &:nth-child(4) {
    margin-left: -5.8px;
    margin-top: -7.2px;
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

.buttons__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // border: 1px solid blue;
  height: 100%;
  padding: 35px 0 20px 0;
}

.footer__contact {
  background: none;
  font-size: 20px;
  cursor: pointer;
  border: 0;
  color: $primary-text;
  font-family: $raleway;
  transition: all 300ms ease;

  &:hover {
    color: $red;
  }
}

.links {
  font-size: 45px;

  i {
    text-decoration: none;
    margin: 0 5px;
    cursor: pointer;
    color: $primary-text;
    opacity: 100%;
    transition: all 300ms ease;
  }

  i:hover {
    color: $red;
  }
}

.copyright {
  font-weight: 300;
}
