.home {
  height: 99vh;
  // background: $lightGreen;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  //   0 6px 20px 0 rgba(141, 86, 86, 0.19);

  h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0 20px;

    @include for-tablet-portrait-up {
      font-size: 4rem;
    }
  }
}

.home__wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  span {
    color: $green;
    text-shadow: 1.5px 1.5px $red;

    // background: -webkit-linear-gradient($lightGreen, $green);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    animation-name: pulse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include for-tablet-portrait-up {
      text-shadow: 2px 2px $red;
    }
  }
}

.arrow__wrapper {
  position: absolute;
  width: 100%;

  animation-name: arrowKick;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  @keyframes arrowKick {
    0% {
      bottom: 2vh;
    }
    50% {
      bottom: 4vh;
    }
    100% {
      bottom: 2vh;
    }
  }
}

.arrow {
  height: 122px;
  width: 10px;
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 60%;
  }
  100% {
    opacity: 100%;
  }
}
