.home {
  height: 99vh;
  display: flex;
  // width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 400ms ease;

  font-size: 2rem;
  font-weight: 500;
  margin: 0 20px;

  @include for-tablet-landscape-up {
    font-size: 4rem;
  }
}

.home__wrapper {
  // display: table-cell;
  text-align: center;
  // vertical-align: middle;
  display: row;
  align-self: center;
  // flex-direction: column;
  // width: 80%;

  h2 {
    color: $red;
    font-weight: 700;
    margin: 10px auto;
  }

  // h2 {

  // }
}

@keyframes pulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 70%;
  }
  100% {
    opacity: 100%;
  }
}

.arrow__wrapper {
  position: absolute;
  // width: 100%;
  // margin: 0 auto;
  // align-self: center;
  left: 50%;
  transform: translate(-50%, 0%);

  animation: arrowKick 1.5s infinite ease-out;

  @keyframes arrowKick {
    0%,
    100% {
      bottom: 2vh;
      filter: grayscale(100%);
    }
    50% {
      bottom: 4vh;
      filter: grayscale(0%);
    }
  }
}

.arrow {
  filter: hue-rotate(225deg);
  height: 122px;
  width: 10px;
  // opacity: 0;

  // animation: arrowFade 2s ease forwards 4s;

  @include for-phone-landscape {
    height: 80px;
    width: 8px;
  }

  @keyframes arrowFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 100%;
    }
  }
}
