.projects {
  // min-height: 100vh;
  background: $light;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 400ms ease;
  padding-bottom: 40px;
  width: 100%;
}

.projects__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // max-width: 1800px;
}

.projects__wrapper__item {
  cursor: pointer;
  transition: all 200ms ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  margin: 10px;
  padding: 20px;
  height: 400px;
  width: 755px;
  display: flex;

  &__text {
    display: flex;
    flex-direction: column;

    img {
      // margin-bottom: 15px;
      width: 300px;
      height: auto;
    }
    h2 {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      max-width: 300px;
      line-height: 1.3;
    }

    h3 {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 10px;
      margin-top: auto;
    }

    ul {
      font-size: 15px;
      line-height: 1.3;
    }
  }

  &:hover {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.028) translateZ(0);
  }
}
