.projects {
  // min-height: 100vh;
  background: $light;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
  padding: 0 20px 40px 20px;
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 1800px;
  transition: all 400ms ease;
  // margin: 0 20px;

  // @include for-tablet-landscape-up {
  //   flex-direction: row;
  // }

  article {
    transition: all 400ms ease;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);;
    background: white;
    margin: 0 10px 10px 10px;
    // box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    //   0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    //   0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    //   0 100px 80px rgba(0, 0, 0, 0.12);
    // box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4),
    //   0 6px 20px 0 rgba(141, 86, 86, 0.19);
    padding: 20px;

    img {
      align-self: center;
      // margin: 10px 10px 20px 10px;
      margin-bottom: 15px;
      // border-radius: 5%;
    }
    h2 {
      // align-self: center;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 40px;
      max-width: 300px;
    }

    h3 {
      font-weight: 600;
      font-size: 15px;
      margin-bottom: 10px;
    }

    ul {
      // list-style: "+ " inside;
      // margin-left: 20px;
      font-size: 15px;
      line-height: 1.3;
    }
  }
}
