@import "utils/breakpoints";
@import "utils/reset";
@import "utils/config";
@import "home";
@import "about";
@import "projects";

html,
body {
  width: 100%;
  height: 100%;
  font-family: $raleway;
  color: $primary-text;
}

section {
  display: table;
  width: 100%;
}

.title {
  color: $primary-text;
  font-size: 2.5rem;
  font-weight: 500;
  margin: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
}

.contact__btn {
  font-family: $raleway;
  // position: relative;
  // display: block;
  width: 90px;
  height: 29px;
  background: none;
  border: 0;
  font-size: 25px;
  font-weight: 200;
  margin-right: 35px;
  margin-top: 20px;
}
