.testimonials {
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.testimonials__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  // justify-content: center;

  @include for-phone-only {
    margin: 0 20px 0 20px;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  font-size: 18px;

  p {
    font-weight: 300;
    margin: 5px;
    text-align: justify;
    line-height: 1.4;
  }

  h3 {
    font-weight: bold;
    margin: 20px 0 5px 0;
    align-self: flex-end;
  }

  h4 {
    font-weight: normal;
    align-self: flex-end;
  }

  @include for-tablet-portrait-up {
    max-width: 760px;
  }
}

.fa-quote-right {
  align-self: flex-end;
}

hr {
  background-color: $primary-text;
  border: 0;
  display: block;
  height: 1px;
  margin: 40px auto;
  opacity: 0.3;
  width: 80%;
  max-width: 760px;
}
